@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Serif+Hebrew:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    /* site colors */
    --color-background:#c397c4;
    --color-background-filter1:rgba(195, 151, 196, 0.85);
    --color-background-menu: #996699;
    --color-font-text:#000000;
    
    --color-font-footer:white;

    --font-header-color1: white;
    --font-header-color2:#650270;

    /* colors for navbar.css */
    --navbar-background-color:  #ac60b3;
    --navbar-background-color-menu: #e5d1e5fc;  
    --navbar-background-color-topnav: #00BAF0;
    --navbar-background-color-l1: #c397c4; 
    --navbar-background-color-l2: white; /* #c397c4; /* white; */
    --navbar-background: #99669900;
   

    --navbar-font-color-selected-menu:#a14aa1;
    --navbar-font-color-menu:#893491; /*rgb(85, 26, 139); */

    --navbar-font-color: #65356a;/* #c479cb;/* #551a8b;*/

   
    --menu-border-color: #aa58ae2b;
    --menu-border-bottom-color: #ab66be;


    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    
}