#content {
	/* margin: 20px; */
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	gap: 20px;
	overflow:visible;
}

#about{
	width: 65%; 
	margin-top: 10px;
	padding: 15px;
	padding-bottom: 20px;
	border: 3px solid #660033; 
	display: block;
   
}
#about img.floatLeft { 
	float: left; 
	margin: auto; 
	max-width: 370px;
	width: 100%;
	padding: 15px;
	display: inline;
}
#about img {
	width: 100%;
	max-width: 370px;
	padding: 15px;
}
.greetingText {
    color: #000000;
    font-family: Times New Roman;
    font-size: 22px;
	font-style: italic;
	font-weight: normal;
	text-align: right;
	line-height: 24px; 
	display: block;
}
.divider {
	height: 50px;
}

#song{
	margin: 10px;
	background-color: #FFCCFF;
	padding: 20px;
}

#song span{
	display: block;
	color: #660033;
	font-family: david;
	font-size: 24px;
	font-style: italic;
	font-weight: lighter;
	align-self: start;
	width: auto;
	line-height:45px;
	text-wrap: nowrap;
	align-items: baseline;
}
@media screen and (max-width: 1000px){

	#content {
		margin: auto;		
	}

	#about {
		width: 90%;
	}
}
@media screen and (max-width: 500px) {
	#content {
		margin: auto;		
	}

	#song {
		color: #461baa;
		font-size: 16px;
		line-height:18px;		
	}
	#about {
		width: 100%;
		margin: 20px;
	}
	.divider {
		height: 50px;
	}
	
}







