/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
#header {
  width:100%;
  max-width: 1200px;
  top: 0px;
  height: 6rem;
  background-color: var(----color-background);
  background-image: url("./../img/header.jpg");
  background-size:cover;
}


#header h1
{
  font-size: 3rem;
  
 font-style: italic;
 font-weight: bold;
 font-stretch:wider;
  background: #ffffff;
  background: linear-gradient(60deg,#ffffff 0%, var(--font-header-color2) 80%);
  background: -webkit-linear-gradient(60deg,#ffffff 0%, #741267 40%);
  background: -moz-linear-gradient(60deg,#ffffff 0%, #741267 80%);

  /* background: -webkit-linear-gradient(to left ,var(--font-header-color1), var(--font-header-color2)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--font-header-color2); /* width and color */
  text-shadow: -7px 7px 7px rgba(254, 252, 255, 1);
  
}
#header h2 {
  font-size: 1.5rem;
  
  font-style: italic;
  font-weight: bold;
  font-stretch:wider;
   background: #ffffff;
   background: linear-gradient(60deg,#ffffff 0%, #741267 80%);
   background: -webkit-linear-gradient(60deg,#ffffff 0%, #741267 80%);
   background: -moz-linear-gradient(60deg,#ffffff 0%, #741267 80%);
 
   /* background: -webkit-linear-gradient(to left ,var(--font-header-color1), var(--font-header-color2)); */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px var(--font-header-color2); /* width and color */
   text-shadow: -7px 5px 7px rgba(255,255,255,1);
  text-decoration-line: none; 
  text-decoration: none;
  text-align: center;
  
  
}

#upper_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--navbar-background-color-topnav); */
  /* background: linear-gradient(to left bottom , var(--navbar-background-color-l1), var(--navbar-background-color-l2) ); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--navbar-font-color);
  height: 3rem;

}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  z-index:100;
}

.menu > li a{
  width:100%;
  text-align: center;
  height: 100%;
  font-size: 1.1rem;
  padding:0.5rem; 
 
}
.selectedMenuText a {
    color: var(--navbar-font-color-selected-menu);
    font-family: David;
    font-weight: bold;
    text-decoration: none;
    text-wrap:nowrap;
}

.menuText a {
    color: var(--navbar-font-color-menu);
    font-family: David;
    font-weight:bolder;
    text-align: right;
    text-wrap:nowrap;
}
.menuText:hover {
  filter:brightness(110%);
  font-weight: bolder;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 2rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--navbar-background-color);
  position: absolute;
  height: 4px;
  width: 2rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.2rem;
}

.menu-button::before {
  content: '';
  margin-top: -0.5rem;
}

.menu-button::after {
  content: '';
  margin-top: 0.5rem;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg); 

}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--navbar-background);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg); 
}

@media (max-width: 780px) {
  #logo {
    src: url("./img/logo.jpg");
  }
  .menu-button-container {
    display: flex;
    z-index: 101;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid var(--menu-border-color); 
    height: 3.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    /* padding: 0.5em 0; */
    width: 100%;
    color: var(--navbar-font-color);
    background-color: var(--navbar-background-color-topnav);
    background:  var(--navbar-background-color-menu) ;
    opacity: 0;
  }
  .menu  {
    padding: 0;
  }
  .menu > li a {
    padding: 0;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--menu-border-bottom-color);
  }
}