@import url(https://fonts.googleapis.com/css?family=Raleway);

/* 
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
} */

#upper_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navbar-background-color-topnav);
  background: linear-gradient(to left bottom , var(--navbar-background-color-l1), var(--navbar-background-color-l2) );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--navbar-font-color);
  height: 3rem;
  /* padding: 1em; */
}

.menu {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 0.6rem;
  overflow: hidden;
}

.selectedMenuText 
a {
    color: var(--navbar-font-color-selected-menu);
    font-family: David;
    font-size: 1.1rem;
    height: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-wrap:nowrap;
    
}

.menuText a {
    color: var(--navbar-font-color-menu);
    font-family: David;
    font-size: 1rem;
    font-weight:bolder;
    text-align: right;
    text-wrap:nowrap;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 2rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--navbar-background-color);
  position: absolute;
  height: 4px;
  width: 2rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.2rem;
}

.menu-button::before {
  content: '';
  margin-top: -0.5rem;
}

.menu-button::after {
  content: '';
  margin-top: 0.5rem;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg); 

}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--navbar-background);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg); 
}

@media (max-width: 780px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 92px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid var(--menu-border-color); 
    height: 3.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--navbar-font-color);
    background-color: var(--navbar-background-color-topnav);
    background:  var(--navbar-background-color-menu) ;
  
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--menu-border-bottom-color);
  }
}