* {
    padding:0;
    margin:0;
    box-sizing: border-box;   
    direction: rtl;
}

body {
    background: var(--color-background);

    font-family: verdana, arial, sans-serif;
    color: var(--color-font-text);
    font-size: 12px;
    font-weight: lighter;   
    overflow-x: hidden;
}


.container {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    max-width: 1200px;
    width:100%;
    margin: auto;
 
}

.container hr {
    margin-top: 25px;
}
/* header */

header {
    width:100%;
    max-width: 1200px;
    top: 0px;
}

header>img
{
    width:100%;
    height: auto;
    margin: auto;
}


/* content */
main.content {
    flex: 1;
  
    width:100%; 
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;

	display: block;

}

article.contentData{
	float: right;
	color: var(--color-font-text);
    font-family: David;
	font-size: 21px;
    
    text-align: right;
	line-height: 32px;
}
h1.img {
    width: fit-content;
    max-width: fit-content;
    margin-bottom: 30px;
}
h2#location {
	text-decoration: none;
}

article.contentData h2,
h2 {
	font-size: 21px;
	font-weight: bolder;
	text-decoration: underline;
} 

h3 {/* question */
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

h4 { /*answer*/
	font-size: 21px;
	font-weight: normal;
	text-decoration: underline;
} 

h5 {/* עלות */
    font-size: 21px;
	font-weight: bolder;
}
em {
    font-style: normal;
    text-decoration: underline;
}
.divider {
	height: 50px;
}
.divider40 {
	height: 40px;
}
.divider30 {
	height: 30px;
}

div.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	row-gap: 20px;
	column-gap: 7px;;

}


/* footer */

footer {
    width:100%; 
    max-width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background:var(--color-background-menu);   
    padding:15px 10px;
    margin: auto;
}

footer *,
.footer * {
    color:var(--color-font-footer);
    text-decoration: none;
    font-size: medium;
    font-weight: lighter; 
}

footer > div span a img , 
footer > div span img
{
    vertical-align: text-bottom;
    width: 16px;
    height: 16px; 
}

.footerData>span {
    padding-inline: 10px;
    text-wrap:nowrap;
}

@media screen and (max-width: 880px) {
    .divider.unvisible880,
    .divider50.unvisible880,
    .divider30.unvisible880 {
        height: 0px;
        display: none;
    }
    div.footer div.footerData {
        width:100%;         
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        line-height: 200%;
        
    
    }
    body > div > footer > div:nth-child(2) {
        text-align: center;
    }
    footer * {
       
        font-size:large;
    }
    
    footer div{
        margin: auto;
    }
}

@media screen and (max-width: 500px){
	.content {
		height :100%;		
	}

	article.contentData{	
		max-width: 100%;
		margin: 5px;
	}
    div.gallery {	
		flex-wrap: wrap;
		justify-content:center;
		
	
	}
}



