@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Serif+Hebrew:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
:root {
    /* site colors */
    --color-background:#c397c4;/*== rgb(195, 151, 196);*/
    --color-background2: white;
    --color-background-filter1:rgba(255, 255, 255, 0.32);
    --color-background-filter2:rgba(195, 151, 196, 0);
    --color-background-menu: rgb(153, 102, 153); /* == #996699;*/
    
    --color-background-button: rgb(153, 102, 153); 
    --color-background-button-active:#ecc2ec;
    --color-font-button:white;
    --color-font-button-hover:rgb(81, 33, 81);
    
    --color-background-line: #bba4b7;
    --color-background-line-pattern-background-color: #f8f5f8bc; 

    --color-font-text:rgb(83, 42, 83);
    --color-font-text-a:rgb(111, 37, 111);
    --color-font-text-a-hover:rgb(81, 33, 81); /*rgb(176, 82, 176);*/
    --color-font-text-red: rgb(198, 2, 2);
    --color-font-footer:#ffffff;

    --logo-title-font1: #801b8b;
    --logo-title-font-shadow: rgba(254, 252, 255, 1);

    /* colors for navbar.css */
    --navbar-background-color:  #ac60b3;
    --navbar-background-color-menu: #e5d1e5fc;  

    --navbar-background-color-topnav:  #d8b0d8;
    --navbar-background-color-selected-topnav:  #ecc2ec;
    
    --navbar-background-color-l1: #c397c4; 
    --navbar-background-color-l2: white; /* #c397c4; /* white; */
    --navbar-background: #99669900;

    --menu-shadow-color:#5a475d62;
   
    --background-color-contact-item: #d8b0d8;
    --background-color-contact-item-hover: #e5d1e5fc; 
    
    --navbar-font-color-selected-menu:#a14aa1;
    --navbar-font-color-menu:#893491; /*rgb(85, 26, 139); */

    --navbar-font-color: #65356a;/* #c479cb;/* #551a8b;*/

   
    --menu-border-color: #aa58ae2b;
    --menu-border-bottom-color: #ab66be;


    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    
}