/*  ************General****** */

div.breadcrumbs,
div.breadcrumbs_more {
	/* width: 100%; */
	/* max-width: 1200px; */
	text-wrap: nowrap;
	height: 25px;
	float: right;
	text-align: right;
	margin: 2rem 2rem;
	padding-right: 10px;
	padding-top: 1rem;
	font-size: 1rem;
	font-weight: normal;
	color:  var(--color-font-text);
	direction: rtl;

}

article.contentData {
	display: block;
	margin-top: 10px;
	padding: 15px;
	padding-bottom: 20px;

	font-weight: normal;

	color: var(--color-font-text);
	/* font-family: David; */
	font-size: 21px;

	text-align: right;
	line-height: 32px;
}

article.contentData p a {
	color: var(--color-font-text-a);
} 

.answer {
	padding-top: 15px;
}
.answer.continue {
	padding-top: 1px;
}
.question {
	padding-top: 20px;
}

article.contentData .placeholder {
	min-width: 220px;
	display: block;
}

img.basic {
	border-radius:50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: auto;
}

article.contentData img.basic {
	/* margin: 1px; */
	max-width: 450px;
	width: 80%;
	height: fit-content;
	
}

#basicImg, #basicImg2{
	/* margin: 1px; */
	max-width: 450px;
	padding: 0px;
	height: fit-content;
	width: 100%;
	display: block;
	
}


article.contentData div.gallery>a>img 
{
	width: 384px;
	height: auto;
	margin: 0;
	padding: 0;
}

img#profileImg {
	width:300px;
	border-radius: 50%;
	margin: auto;
}

article.contentData img {
	width: fit-content;
	max-width: 100%;
	height: fit-content;
}

/************ start *******/

/*  ************about****** */

div#content_about {
	max-width: 1200px;
	padding-top: 130px;
	font-size: 21px;
}

div.about1 {
	display: flex;
	
}
div.about1 div {
	min-width: 60%;
}
div.about1 div ul {
	margin-right: 20px;
}

img.about1 {
	margin: 1px;
	width: 500px;
	height: fit-content;
}

img.about2 {
	margin: 1px;
	width: 400px;
	float: left;
	text-align: right;
}


@media screen and (max-width: 880px){
	div.about1 {
		display: flex;
		flex-wrap: wrap;
	}

	img.about1 
	{
		width :95%;		
	}


	div.about1 div {
		display: block;
		width: 95%;
	}
	div.about1 div ul {
		margin-right: 5px;
	}
	
}
@media screen and (max-width: 500px){

	article.contentData section.twocol img.tipulRigshi2 {
		margin: 1px;
		width: 90%;
		padding: 0px;
		height: fit-content;
		max-width: 100%;
		display: block;
	}
	.coursive {
		font-size: smaller;
	}

}


/*  ************ articles ****** */

.coursive {
	font-style: italic;
}
.english div,
.english, 
ul.english,
ul.english li{
	display: block;
	direction: ltr;
	text-align: start;
}
.hebrew div,
.hebrew{
	display: block;
	direction: rtl;
	text-align: start;
}

.english div h2 {
	display: inline;
	direction: ltr;
	text-decoration: underline;
	text-align: start;
}

.hebrew div h2{
	display: inline;
	direction: rtl;
	text-decoration: underline;
	text-align: start;
}


section.twocol {
	display: flex;
	justify-content: space-around;
	gap: 15px;
}
section div.col {
	max-width:70%;
	width: fit-content;
}
ul.no_decoration {
	list-style-type:none;
}

ul, ol {
	padding-inline-start: 20px;
}


@media screen and (max-width: 880px){
	section.twocol {
		flex-wrap: wrap;
		justify-content: center;
	}
	section div.col {
		max-width:100%;
		width: fit-content;
	}
	.reverse {
		flex-direction: column-reverse;
	}
}


/*  ************ contact us****** */

ul.contact_v_sign {
	list-style-type: "♪";
}
  ul.contact_v_sign li {
	padding: 0.5rem 1rem;
  }
/* ul.contact_v_sign li:before {
	width: 30px;
} */

/* .contact_v_sign li{
	display: block;
} */



article.contentData img.contact{
	height: 40px;
	width: 40px;
	margin:5px;
	padding: 0;
	position: relative;
	bottom: -10px;
	
}

article.contentData img.contactW{
	height: 30px;
	width: 30px;
	margin:5px;
	padding: 0;
	position: relative;
	bottom: -7px;
}

section.contact p {
	text-align: right;
	margin:10px;
	padding: 10px;
	background-color: var(--navbar-background-color-menu);
	border-radius: 40px;
	vertical-align: middle;

}
#contact_container  section.twocol.contact p ,
#contact_container  section.twocol.contact p  img
{
	background-color: var(--background-color-contact-item);
}
#contact_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}