 #header {
  width:100%;
  max-width: 1200px;
  top: 0px;
  height: auto;
  background: no-repeat url("./../img/logo.jpg");
  background-size: contain; 
}

#logo_title{
  visibility:hidden;
}

#upper_menu {
  position: relative;
  top: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--navbar-font-color);
  height: 3rem;

}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: no-wrap;
  list-style-type: none;
  z-index:100;
  gap:0.2rem;
 
}

.menu> li a{
  border-radius:  0.5rem;
  text-align: center;
  height: 100%;
  font-size: 1.1rem;
  padding:0.5rem; 
  text-decoration-line: none;
  box-shadow: 3px 3px 2px 2px var(--menu-shadow-color);
  -webkit-box-shadow:3px 3px 2px 2px var(--menu-shadow-color);
  -moz-box-shadow:3px 3px 2px 2px var(--menu-shadow-color);
  background-color: var(--navbar-background-color-topnav);
}
.menu > li a:hover{
  background-color: var( --navbar-background-color-menu);
}
.selectedMenuText a {
    color: var(--navbar-font-color-selected-menu);
    /* font-family: David; */
    font-weight: bold;
    text-decoration: none;
    text-wrap:nowrap;
}

.menuText a {
    color: var(--navbar-font-color-menu);
    /* font-family: David; */
    font-weight:bolder;
    text-align: right;
    text-wrap:nowrap;
}
.menuText:hover {
  filter:brightness(110%);
  font-weight: bolder;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  
  border-radius: 50%;
}

/* .menu-button-container:hover {
  background-color:var(--navbar-background-color-topnav);
} */
#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--navbar-font-color);
  position: absolute;
  height: 4px;
  width: 2rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.2rem;
}

.menu-button::before {
  content: '';
  margin-top: -0.5rem;
}

.menu-button::after {
  content: '';
  margin-top: 0.5rem;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg); 

}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--navbar-background);
} 

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg); 
}

#menu-toggle:checked + .menu-button-container {
  background-color: var(--navbar-background-color-menu);
  border:2px solid var(--navbar-background-color-topnav);
}
@media (max-width: 830px) {
  #header {
    height: 80px;
  }
  .menu-button-container {
    margin-right: 7px;
  } 
  .menu-button-container:hover{
    background-color: var(--color-background);;
    border:2px solid var(--color-background);;
    
  }
 
  .menu-button-container {
    position: absolute;
    top:-20px;
    left:10px;
    display: flex;
    z-index: 101;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:0;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid var(--menu-border-color); 
    height: 3.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  
  }
  .menu> li a{
    background-color: var(--navbar-background-color-menu);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: var(--navbar-font-color);
    background:  var(--navbar-background-color-menu) ;
    opacity: 0;
  }
  .menu  {
    padding: 0;
  }
  .menu > li a {
    padding: 0;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--menu-border-bottom-color);
  }

  .menu> li a{
    border-radius:0;
    border: none;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding:0rem; 
    text-decoration-line: none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
   
  }
}



@media (max-width: 600px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  #header {
    background-image: linear-gradient(to right, var(--color-background-filter1), var(--color-background-filter2) ),url("./../img/header.jpg");
    /* background-image: url("./../img/header.jpg"); */
    background-size: contain;
  }

  #logo_title {
    visibility:visible;
  }

  
  #logo_title h1
  {
    padding-right: 1rem;
    font-size:2.3rem;  
    font-style: italic;
    font-weight: bold;
    font-stretch:wider;
    background: var(--logo-title-font1);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px 3px 10px var(--logo-title-font-shadow);
    
  }
  #logo_title h2 {
    font-size: 1.5rem;
    padding-right: 4rem;
    font-style: italic;
    font-weight: bold;
    font-stretch:wider;
    background: var(--logo-title-font1);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    text-shadow: -3px 3px 10px var(--logo-title-font-shadow);
    text-decoration-line: none; 
    text-decoration: none;
  
  }
  #upper_menu {
    position: relative;
    top: 0.5rem;
  }
  .menu-button-container {
    position: absolute;
    top:-40px;
    left:10px;
  }
}