* {
    padding:0;
    margin:0;
    box-sizing: border-box;   
    direction: rtl;
}

body {
    background: var(--color-background);
    /* font-family: verdana, arial, sans-serif; */
    color: var(--color-font-text);
    font-size: 12px;
    font-weight: lighter;   
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
   
    max-width: 1200px;
    width:100%;
    margin: auto;
 
}

.container hr {
    margin-top: 25px;
}

/* content */
main.content {
  flex: 1;
  width:100%; 
  max-width: 1200px;
  margin-top: 0px;
  margin-bottom: 80px;
	display: block;

}

article.contentData{
	float: right;
	color: var(--color-font-text);
    /* font-family: David; */
	font-size: 21px;
  text-align: right;
	line-height: 32px;
}
article.contentData.center {
  float: none;
}
article.contentData.center div.price_list{
  max-width:fit-content;
  margin: auto;
}

h1.img {
    width: fit-content;
    max-width: fit-content;
    margin-bottom: 30px;
}
h2#location {
	text-decoration: none;
}

article.contentData h2,
h2 {
	font-size: 21px;
	font-weight: bolder;
	text-decoration: underline;
} 

h3 {/* question */
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

h4 { /*answer*/
	font-size: 21px;
	font-weight: normal;
	text-decoration: underline;
} 

h5 {/* עלות */
    font-size: 21px;
	font-weight: bolder;
}
em {
    font-style: normal;
    text-decoration: underline;
}
p .bold {
  font-weight: bolder;
}
.divider {
	height: 50px;
}
.divider40 {
	height: 40px;
}
.divider30 {
	height: 30px;
}

div.gallery {
  margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content:start;
    row-gap: 20px;
}

div.gallery>a {
    margin: 0;
    padding:0;
    min-width:180px;
    max-width:220px;

}

.card {
    position: relative;
    width: 100%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
   
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--color-background);
}

.card:hover .overlay
 {
    opacity: 1;
}
  /*contats*/

  #mainContactConteiner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .imagesContactBox img {
    width: 100%;
    max-height: 300px;
  }
  .imagesContactBox {
    display: flex;
    flex-direction: column;
  }
  
  .ContactBox {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .contSocialBox {
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contSocialBox a {
    max-width: 400px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    background: var(--background-color-contact-item);
    border: 2px solid var(--background-color-contact-item);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var( --navbar-font-color-menu);
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    text-wrap: nowrap;
    /* font-family: "Varela Round", sans-serif; */
    font-weight: 400;
    font-style: normal;
  }
 
  .contSocialBox a:hover {
    background: var(--background-color-contact-item-hover);
    border: 2px solid var(--background-color-contact-item-hover);
  }
  .contSocialBox a > img {
    max-width: 4rem;
  }
  article.contentData .contSocialBox img {
	width: 4rem;
	height:4rem;
  border-radius: 50%;

  }
@media screen and (max-width: 300px) {
  .contSocialBox a {
    text-wrap: wrap;
    gap: 10px;
  }
}
/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background:var(--color-background-menu);   
  padding:15px 10px;
  margin: auto;
  transform: translateX(-50%);
    left: 50%;
}




/* ********************************************footer */

footer {
    /* max-width: 320px; */
    width: 100%;
    margin: auto;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: var(--color-background-menu);
    border-radius: 20px 20px 00px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 720px;
    width: 90%;
  }
  
  .footerDiv > a {
    background: none;
    border: none;
    padding: 0;
    margin-top: -0.5rem;
    max-width: 30px;
    width: 100%;
    height: 42px;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }
  
  .footerDiv > a:hover {
    position: relative;
    top: -20px;
  }
  
  .footerDiv > a:active {
    position: relative;
    top: -2px;
  }
  

  .footerDiv > a *{
    background: var(--color-background-menu);
  }
  .media-icon-container {
    width:40px;
    height:40px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    color: var(--color-font-footer);
    border:var(--color-background) 2px solid;
    border-radius: 25px;

    position: relative;
    top: 0px; 
    
}
.media-icon {
  font-size:24px;
  background: var(--color-background-menu);
 
}
.media-icon.smaller {
  font-size: 18px;
   position: relative;
  bottom:-5px; 
}
.footerDiv > a :hover * {
  color:var(--color-font-2);
  background: var(--color-background-menu);
  font-size: 24px;
}

.media-icon-container:hover {
  width:50px;
  height:50px;

}
@media screen and (max-width: 880px) {
    .divider.unvisible880,
    .divider50.unvisible880,
    .divider30.unvisible880 {
        height: 0px;
        display: none;
    }

}

@media screen and (max-width: 500px){
	.content {
    margin-bottom: 100px;
	}

	article.contentData{	
		max-width: 100%;
		margin: 5px;
	}
    div.gallery {	
		flex-wrap: wrap;
		justify-content:center;
	}

    /* ***************************Contact*/
  #mainContactConteiner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .imagesContactBox img {
    width: 100%;
    max-height: 300px;
  }
  .ContactBox {
    flex-direction: column;
  }
  .imagesContactBox {
    order: 1;
  }
  .textContactbox {
    order: 2;
  }
}



